<p id="notice"><%= notice %></p>

<p>
  <h1>Show Image</h1>
</p>

<div class="image", style="width:400px; height:auto">
  <%= image_tag(@image.picture, style:"width:100%") %>
</div>

<p>Uploaded by: <%= link_to(@image.name_of_user, user_path(@image.user)) %></p>

<%= link_to 'Delete',  @image,  method: :delete, data: { confirm: 'Are you sure?' } if @user == @current_user %>